@media screen and (min-width: 320px) {
	* {
		box-sizing:border-box;
	}

	#container {
		border:2px solid black;
		width:100%;
	}

	.title h1 {
		text-align:center;
		margin:0;
		padding:0.5em 0;
		font-size:1.75em;
	}

	.heading h3 {
		border-top:1px solid black;
		border-bottom:1px solid black;
		margin:0;
		padding:0.35em 0 0.35em 0.75em;
	}

	.row {
		box-sizing: border-box;
		margin:0.5em 0;
	}

	.col-md {
		width:40%;
		height:1em;
		display:inline-table;
		text-align: right;
	}

	.col-sm {
		width:10%;
		height:1em;
		display:inline-table;
		text-align:center;
	}

	.col-mdsm {
		width:35%;
		height:1em;
		display:inline-table;
		text-align:right;
	}

	.col-mdlg {
		width:47%;
		height:1em;
		display:inline-table;
	}

	#base {width:90%;}

	#tax {width:25%;}

	#tip {width:25%;}

	.buttons {
		text-align:center;
		margin:1em 0;
	}

	hr {
		width:16em;
	}
}

@media screen and (min-width: 625px) {
	#container {
		display:inline-table;
		padding:1em;
	}

	.title h1 {
		font-size:2em;
	}

	.block-one {
		width:50%;
		border:1px solid black;
		display:inline-table;
		float:left;
		height:23.4em;
	}

	.block-two {
		width:45%;
		border:1px solid black;
		float:right;
		display:inline-table;
		margin-bottom:1.5em;
	}

	.block-three {
		width:45%;
		border:1px solid black;
		display:inline-table;
		float:right;
	}

	.row {
		margin:1em 0;
	}

	.added-padding {
		padding-left:0.3em;
	}

	input[type="reset"] {
		float:right;
		margin-right:2em;
	}
}

@media screen and (min-width:970px) {
	.block-three {
		height:11em;
	}

	.col-md {
		width:32%;
	}
}
